/* most of the comments of the Hstyles.css also apply here */

body {
    background-color: #ffffff;
    font-family: Georgia, Arial;
    text-align: center;
    margin: 0;
    padding: 30px 50px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


h1 {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 15px 0;
    padding: 0;

}

nav {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #333333; /*i tried putting the color in the nav without specifiying the element a it turned out that a has its 
    own browser default color so i had to do it like this to be able to override it*/
    text-decoration: none;
}

main {
    flex: 1;
}

h2 {
    color: #DE638A;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin: 35px 0 8px 0;
    padding: 0;
    text-align: center;
}

form {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    padding: 20px 20px 0 20px;
}

form label { /* applies for all label elements in the form tag */
    display: block; /* makes the element behave like a block and take its own line. */
    margin-bottom: 6px;
}

.form-label { /*applies only on the label elements in the form tag defined within the class form-label */
    display: block; /*i could have removed this and the following command because they are the same as the ones in the form label, however
    if numbers were different the class would override the elemet styling due to higher priority */
    margin-bottom: 6px;
    margin-top: 18px;
}

form button {
    display: block;
    margin: 18px auto 0 auto; /* I used auto on the sides to center the button */
}

footer p {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 45px;
    padding: 15px 0;
}